body{
    border: 60px solid #23B5B7;
    border-top: 0px;
    background-color: #00152D;
}

.body{
    background-color: #00152D;
    color: white;
    text-align: center;
    padding-top: 50px;

}
.headers{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.headers h1{
    font-size: 50px;
    padding-bottom: 20px;
}

.headers h2{
    font-size: 30px;
    padding-bottom: 20px;
}

.para{
    font-family: monospace;
}



.social h3 {
    color: red;
}

.social button{
    background-color: white;
    border-radius: 10px;
    padding: 4px;
    margin: 5px;
}

.social a{
    color: black;
}

.link:hover{
    background-color: #0275B3;
}
.link a:hover{
    color: #FFFFFF;
    text-decoration: none;
}
.git:hover{
    background-color: #000000;
}

.git a:hover{
    color: #FFFFFF;
    text-decoration: none;
}
.insta:hover{
    background-color: #ee6a0c;
}
.insta a:hover{
    color: #FFFFFF;
    text-decoration: none;
}

.skills{
    background-color: #00152D;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 100px;
    text-align: center;
}

.skills h1{
    color: green;
    text-decoration: underline;
    /* padding-bottom: 50px; */
}

.card-1{
    color: #E54C21;
    background-color: #FFFFFF;
    border: 6px solid #E54C21;
    width: 80%;
    height: 420px;
    margin: 80px 50px;
}

.card-2{
    color: #264DE4;
    background-color: #FFFFFF;
    border: 6px solid #264DE4;
    width: 80%;
    height: 420px;
    margin: 80px 50px;
}

.card-3{
    color: #777CB5;
    background-color: #000000;
    border: 6px solid #777CB5;
    width: 80%;
    height: 420px;
    margin: 80px 50px;
}

.card-4{
    color: #533A7A;
    background-color: #FFFFFF;
    border: 6px solid #533A7A;
    width: 80%;
    height: 420px;
    margin: 80px 50px;
}

.card-5{
    color: #357AB1;
    background-color: #FFFFFF;
    border: 6px solid #FFDE4C;
    width: 80%;
    height: 420px;
    margin: 80px 50px;
}

.card-6{
    color: #004482;
    background-color: #FFFFFF;
    border: 6px solid #004482;
    width: 80%;
    height: 420px;
    margin: 80px 50px;
}

.card-7{
    color: #004482;
    background-color: #FFFFFF;
    border: 6px solid #004482;
    width: 80%;
    height: 420px;
    margin: 80px 50px;
}

.card-8{
    color: #24223A;
    background-color: #4FC7ED;
    border: 6px solid #24223A;
    width: 80%;
    height: 420px;
    margin: 80px 50px;
}

.image{
    width: 70%;
    margin: 10px;
}
